html, body {
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
  hyphens: auto;
    overflow-wrap: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
    word-wrap: break-word;
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: .009375em;
    line-height: 1.5rem;
    text-transform: none;
    font-size: .875rem;
}

.container {
  width: 100%;
  max-width: $breakpoint-lg;
  margin: 0 auto;
  padding: 0 15px;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;
}

main.page-content {
  flex: 1 1 auto;
  padding: 24px 0;
}

.page__title {
  font-family: $base-font;
  font-size: 18px;
  font-weight: 600;
  // margin-bottom: 20px;
}

